body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: Arial;
}

.login-box {
    width: 300px;
    padding: 20px;
    background: #fff;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #0066ff;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

#msg {
    color: red;
    text-align: center;
    margin-top: 10px;
}
.topbar {
    background: #0066ff;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar button {
    padding: 8px 12px;
    background: white;
    color: #0066ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.card {
    width: 180px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    font-size: 18px;
    color: #0066ff;
    text-decoration: none;
    font-weight: bold;
}
.form-container {
    width: 400px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.form-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

#msg {
    text-align: center;
    margin-top: 10px;
    color: green;
}
.table-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0066ff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}
